body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: Halvetica, sans-serif;
    font-size: 14px;
    padding-left: 20px;
    text-decoration: none;
    color: #161616;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e9e9e9;
    margin: 1em 0;
    padding: 0;
}





/*HEAD CONTENT*/
.container {
    position: relative;
    text-align: center;
    color: black;
}

.head-content {
    position: absolute;
    top: 30%;
    width: 52%;
}

.heading {
    font-family: Roboto, Arial, sans-serif;
    color: #0055BB;
    font-size: 32px;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 60px;
}

.sub-heading{
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    margin-left: 60px;
    margin-right: 20px;
    color: #161616;
    margin-bottom: 40px;
}

.hegeConfBtn {
    background: #0055BB;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 60px;
    border-radius: 25px;
    cursor: pointer;

}

.hegeFindBtn {
    background: #0055BB;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    cursor: pointer;

}

.hegeConfBtn-text{
    font-family: Roboto, Arial, sans-serif;
    color: white;
    text-align: left;
    text-decoration: none;
}

.hegeFindBtn-text{
    font-family: Roboto, Arial, sans-serif;
    color: white;
    text-align: left;
    margin-left: 33px;
    text-decoration: none;
}

.hats-models-test {
    font-family: Roboto, Arial, sans-serif;
    color: #0055BB;
    font-size: 32px;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 60px;
    margin-bottom: 20px;
}


/*SHOP*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-hidden {
    position: relative;
    display: none;
}

.dropdown-content {
    display: none;
    position:absolute;
    right:0px;
    background-color: #ffffff;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content-search {
    visibility: visible;
    display: none;
    width: 580px;
    position:absolute;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    transition: all .5s ease-in-out;
}

.dropdown-content-search .search_list > li {
    cursor: pointer;
}

.dropdown-content > button {
    margin-left: 120px;
    margin-bottom: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-hidden:hover .dropdown-content {
    display: block;
}

.dropdown-text{
    color: #666666;
    text-align: left;
    font-family: "Roboto", "Segoe UI", serif;
    font-size: 14px;
}

.dropdown-text-cart{
    color: #666666;
    text-align: center;
    font-family: "Roboto", "Segoe UI", serif;
    font-size: 14px;
    padding-top: 12px;
}

.shopping-cart-items {
    margin-left: -20px;
}

.clearfix {
    margin-bottom: 18px;
    content: "";
    display: table;
    clear: both;
}

.shopping-cart-items > img {
    margin-left: 20px;
}

.item-name {
    display: block;
    padding-top: 10px;
    font-size: 14px;
    color: #161616;
    font-weight: bold;
    font-family: "Roboto", "Segoe UI", serif;
}

.item-price {
    color: #0055BB;
    margin-right: 8px;
    font-size: 14px;
    font-family: "Roboto", "Segoe UI", serif;
}

.item-quantity {
    color: #ABB0BE;
    font-size: 13.5px;
    font-family: "Roboto", "Segoe UI", serif;
}

.shop-item-content {
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

.shop-item-content > a {
    cursor: pointer;
}

/*FADE*/
.fade {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
}


.fade-config {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 5;
}

/*MAIN CONTENT*/
.main {
    margin-left: 240px; /* Same as the width of the sidebar */
    background-color: #ffffff;
    margin-bottom: 40px;
}

.main-product {
    margin-left: 240px; /* Same as the width of the sidebar */
    width: 83%;
    background-color: #ffffff;
    margin-bottom: 40px;
    position: absolute;
    margin-top: 56px;
}

.slide-bg {
    max-width: 100%;
    max-height: 100%;
}

/*GRID*/
.main-grid {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 20px;
    width: 90%;
    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: 470px;
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}

/*CARDS*/
.card {
    border-radius: 2px;
    color: black;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    position: relative;
    display: inline-block
}

.card > img {
    width: 100%;
}

.card-image {
    width: 100%;
}

.card-text-holder{
    background-color: white;
}

.card-text-holder > h2 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    margin-left: 20px;
    font-weight: 400;
}

.card-text-holder > p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 72px;
    background-color: white;
}

.details {
    font-family: Roboto, Arial, sans-serif;
    color: #0055BB;
    margin-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    cursor: pointer;
}

.page{
    display: none;
}

.active{
    display: block;
}


/*PRODUCT BREADCRUMB*/
.breadcrumb {
    margin-top: 10px;
    margin-bottom: 1.5em;
    max-height: 2.5em;
    overflow: hidden;
    position: relative;
    padding: 10px;
}

.breadcrumb > a {
    display: inline;
    padding-left: 20px;
    text-decoration: none;
    color: #373737;
    font-weight: 600;
}

.breadcrumb-link {
    display: inline;
    opacity: 1;
    visibility: visible;
    position: static;
}

.breadcrumb > .breadcrumb-link::after {
    content: '/';
    margin-left: 0.5em;
    margin-right: -0.75em;
}

/*PRODUCT GRID*/
.product-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.product-grid > img {
    border-radius: 10px;
}

/*PRODUCT HEADER*/
.product-head {
    margin-left: 10px;
}

.product-head > h2 {
    font-family: Roboto, Arial, sans-serif;
}

.product-head > h3 {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    color: #ef2809;
    font-weight: 600;
}

.product-head > p {
    font-family: Roboto, Arial, sans-serif;
}

.product-head > button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: #fff;
    font-family: "Roboto", "Segoe UI", serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.btn-vr {
    background-color: #373737;
}

.btn-basket {
    background-color: #0055BB;
}

/*PRODUCT MORE*/
.product-more {
    padding: 30px;
}

.product-more > p {
    font-family: Roboto, Arial, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 100px;
}

.product-more > h3 {
    font-family: Roboto, Arial, sans-serif;
}

.grid-title {
    font-family: Roboto, Arial, sans-serif;
    margin-left: 30px;
    margin-top: 30px;
}

/*SEARCH ITEMS*/
.search_list{
    list-style-type: none;
    display:block;
    margin-left: -40px;
    margin-right: 40px;
}
.search_list>li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    width:100%;
    max-height: 100%;
    color: #666666;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
}

.search_list>li:hover{
    background-color: #F1F1F1;
}

.config_list{
    list-style-type: none;
    display:block;
    margin-left: -40px;
    margin-right: 40px;
}
.config_list>li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width:100%;
    font-weight: bold;
    max-height: 100%;
    color: black;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
}

.config_list>li:hover{
    background-color: #F1F1F1;
}



/*CART*/
.cart-footer{
    background-color: #ffffff;
    width: auto;
    height: 40px;
    margin-top: -16px;
}

/*LOGIN*/
.login-footer{
    background-color: #f8f8f8;
    width: auto;
    height: 40px;
}

.login-footer > button{
    background-color: transparent;
    color: #0055BB;
    border: none;
    border-radius: 4px;
    height: 32px;
    margin-top: 3px;
    margin-left: 28px;
    font-family: "Roboto", "Segoe UI", serif;
    cursor: pointer;
}

.column-login {
    float: left;
    padding: 10px;
}

.left-login {
    width: 25%;
}

.left-login > i{
    font-size: 2.9em;
    margin-left: -25px;
    margin-top: 9px;
    color: #0055BB;
}

.right-login {
    width: 58%;
}

.row-login:after {
    content: "";
    display: table;
    clear: both;
}

/*CONFIGURATOR*/
.confPopup{
    display: none;
    position: absolute;
    width: 350px;
    height: 390px;
    border-radius: 10px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -220px 0 0 -205px;
    background: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.confH1 > h2{
    font-family: Roboto, Arial, sans-serif;
    color: black;
    margin-bottom: 10px;
}

.confH2{
    visibility: hidden;
}

.confH2 > h2{
    font-family: Roboto, Arial, sans-serif;
    color: black;
    margin-bottom: 10px;
}

.confH1 > label{
    font-family: Roboto, Arial, sans-serif;
    color: #161616;
    font-size: 14px;
    padding-bottom: 10px;
}
.custom-dropdown{
    margin-top: 10px;
}

/*DROPDOWN*/
.custom-dropdown select {
    width: 100%;
    /* color: #878787; */
    padding: 11px 20px;
    text-align: left;
    /* border: 0px; */
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

/*RESPONSIVE*/
@media screen and (max-width: 1024px) {
    .sidenav {display: none;}
    .main {margin-left: 0px}
    .searchBar {display: none}
    .search {
        visibility: visible;
    }
    .main-product {
        margin-left: 0px;
        width: 100%;
    }  
}

@media screen and (max-width: 800px) {
    .sub-heading {margin-left: 30px}
    .heading {margin-left: 30px}
    .slide-bg { visibility: hidden; margin-bottom: 100px}
    .head-content {width: 100%; }
    .hats-models-test {margin-left: 30px}
    .sub-heading {margin-bottom: 20px}
    .hegeConfBtn {margin-left: 30px}
    /*Product functions*/
    .product-grid {grid-template-columns: 100%}
    .product-head {
        margin-left: auto;
        margin-right: auto;
    }
    .product-grid > img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 30px;
    }
    .main-grid {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .grid-title {
        font-size: 20px;
        text-align: center;
        margin-left: 0px;
    }
    .product-more > h3 {
        text-align: center;
    }
    .product-more >p {
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
    }
    .product-head > h2 {
        text-align: center;
    }
    .product-head > h3 {
        text-align: center;
    }
    .product-head > p {
        text-align: center;
    }
    .product-head {
        margin: 0px;

    }
    .product-head > button {
        margin:auto;
        display:block;
    }
    .breadcrumb {
        background-color: #f9f9f9;
        margin-top: 0px;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
}

@media screen and (max-width: 684px){
    .card > img {
        width: 75%;
        display:block;
        margin:auto;
    }
}

