body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    transition: background-color .5s;
}

h4 {
    font-family: Halvetica, sans-serif;
    font-size: 14px;
    padding-left: 20px;
    text-decoration: none;
    color: #161616;

}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e9e9e9;
    margin: 1em 0;
    padding: 0;
}

/*TOOLBAR*/
/*Toolbar Main*/
.toolbar {
    color: #fff;
    background: #0055BB;
    position: fixed;
    display: flex;
    z-index: 1; /* Stay on top */
    width: 100%;
    height: 56px;
    flex-direction: row;
}

.toolbar-mobile {
    color: black;
    background: #F5F5F5;
    z-index: 1; /* Stay on top */
    display: flex;
    width: 100%;
    height: 56px;
    border-bottom:1px solid #e9e9e9;
    position: relative;
    flex-direction: row;
}

.shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/*Toolbar Icons*/
.hamburger-menu {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    cursor: pointer;
}

.hamburger-menu-mobile {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    cursor: pointer;
    color: #9A9A9A;
}


.right-icons {
    margin: auto 2em auto auto;
}

.avatar, .cart {
    padding-left: 1em;
    cursor: pointer;

}

.search {
    visibility: hidden;
    cursor: pointer;
}


/*Title*/
.title {
    align-items: center;
    display: flex;
    justify-content: center;
    height: auto;
}

.title-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: large;
    padding-left: 20px;
}

.title-text-mobile {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: large;
    color: black;
    padding-left: 20px;
}

/*SIDENAV*/
.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    margin-top: 56px;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    padding-top: 20px;

}

.sidenav a {
    display: block;
    color: black;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    padding: 12px;
    padding-left: 20px;
    text-decoration: none;
}

.sidenav a:hover:not(.active) {
    background-color: #EBEBEB;
    color: black;
}

.sidenavMobile {
    display: none;
    height: 100%;
    width: 240px;
    z-index: 3;
    position: fixed;
    margin-top: 0px;
    top: 0;
    left: 0;
    background-color: #F5F5F5;

}

.sidenavMobile a{
    display: block;
    color: black;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    padding: 12px 12px 12px 20px;
    text-decoration: none;
}

.sidenavMobile a:hover:not(.active) {
    background-color: #EBEBEB;
    color: black;
}

.first-cat-mobile {
    padding-top: 19px;
}

/*SEARCH*/
.searchBar {
    background: #fff;
    width: 80%;
    max-width: 580px;
    height: 42px;
    margin: 8px auto 0 150px;
    border-radius: 25px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
    transition: all 0.2s ease-in-out;
    position: fixed;
    left: 0;
    right: 0;
    top: 0
}

.searchBar i.searchBarSearchIcon {
    height: 100%;
    line-height: 42px;
    float: left;
    width: 52px;
    text-align: center;
    color: rgba(68, 68, 68, 0.5);
}

.searchBar input#searchBarInput {
    height: 42px;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background: transparent;
    width: calc(100% - 52px);
    outline: none;
    padding-right: 32px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.76);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.searchBar i.clearSearchBarField {
    position: absolute;
    right: 12px;
    top: 11px;
    color: rgba(0, 0, 0, 0.84);
    font-size: 20px;
}

.searchBar i.clearSearchBarField:hover {
    cursor: pointer;
}

/*HEAD CONTENT*/
.container {
    position: relative;
    text-align: center;
    color: black;
}

.head-content {
    position: absolute;
    top: 30%;
    width: 52%;
}

.heading {
    font-family: Roboto, Arial, sans-serif;
    color: #0055BB;
    font-size: 32px;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 60px;
}

.sub-heading{
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    margin-left: 60px;
    margin-right: 20px;
    color: #161616;
    margin-bottom: 40px;
}

.hegeConfBtn {
    background: #0055BB;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 60px;
    border-radius: 25px;
    cursor: pointer;

}

.hegeConfBtn-text{
    font-family: Roboto, Arial, sans-serif;
    color: white;
    text-align: left;
    text-decoration: none;
}

.hats-models-test {
    font-family: Roboto, Arial, sans-serif;
    color: #0055BB;
    font-size: 32px;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 60px;
    margin-bottom: 20px;
}


/*SHOP*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:absolute;
    top:56px;
    right:80px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*FADE*/
.fade {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
}


/*MAIN CONTENT*/
.main {
    margin-left: 240px; /* Same as the width of the sidebar */
    background-color: #ffffff;
    margin-bottom: 40px;
}

.slide-bg {
    max-width: 100%;
    max-height: 100%;
}

/*GRID*/
.main-grid {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 20px;
    width: 90%;
    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: 100px;
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}

article {
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    background-color: blue;
}

/*RESPONSIVE*/
@media screen and (max-width: 1024px) {
    .sidenav {display: none;}
    .main {margin-left: 0px}
    .searchBar {display: none}
    .search {
        visibility: visible;
    }
}

@media screen and (max-width: 800px) {
    .sub-heading {margin-left: 30px}
    .heading {margin-left: 30px}
    .slide-bg { visibility: hidden; margin-bottom: 100px}
    .head-content {width: 100%; }
    .hats-models-test {margin-left: 30px}
    .sub-heading {margin-bottom: 20px}
    .hegeConfBtn {margin-left: 30px}
}

